

.parentContainer
{
    /* background-color: orange; */
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    height: 80%;
    width: 90%;
    /* background-color: ; */
    background-color: #FBFBFB;


}
.heading_edu_exp
{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.container_of_edu_exp
{
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    /* flex-direction: column; */
}
.education
{
    background-color: blue;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.education h1
{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.experience
{
    background-color: green;
}
.graduation_container
{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: start; */
    width: 80%;
    /* height: 70%; */
     justify-content: center;
}
.certificates
{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.5rem;
    /* height: 90%; */
    
}
.certificates p
{
    margin-left: 1.2rem;
    
}


/* 

*/

.parent_edu_exp
{
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%;
}
.education_container
{
    /* background-color: pink; */
    height: 80%;
    width: 40%;
}
.education_container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.education_List
{
    /* background-color: gray; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 60%;
    margin-top: 2rem;
    /* padding-left: 5rem; */
}
.education_clg_name
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* background-color: orange; */
    line-height: 1.5rem;
}
.education_clg_name p 
{
    /* margin-left: 1rem; */
}


@media only screen and (max-width: 1000px) {
    .parent_edu_exp {
      /* background-color: lightblue; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    
  }