body {
  font-family: arial, helvetica;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}
.section{
  height: 100vh;
  
}

.fp-section {
  text-align: center;
}

/* type: */
.fp-watermark {
  display: none !important;
}
.fp-watermark > a {
  display: none !important;
}